@import '../../../scss/colors.scss';

$border-radius: 12px;

h2{
    font-size: 1.2rem;
}

.card {
    position: relative;
}

.card__description{
    padding-top: .5rem;
}

.popular {
    position: absolute;
    top: 15px;
    left: 15px;
    color: $blackPrimary;
    background-color: $yellow;
    padding: 3px 15px;
    border-radius: $border-radius;
    font-size: 12px;
}

.card>img{
    width: 100%;
    border-radius: $border-radius;
}

.pricing__section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.price{
    padding: 3px 8px;
    background-color: $green-ligth;
    border-radius: 7px;
    color: $blackSecondary;
    font-size: .8rem;
}

.rate__section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        height: 24px;
    }
}

.danger{
    color: $danger;
}

.rate{
    margin-right: .2rem;
}

.rate__container{
    display: flex;
    align-items: center;
}

.star {
    margin-right: .4rem;
}