<header></header>

<main>
  <div class="container">
    <section class="container__header">
      <h1>Our Collection</h1>
      <p>Introducing our Coffee Collection, a selection of unique coffees from different roast types and origins,
        expertly roasted in small batches and shipped fresh weekly.</p>
      <div class="buttons">
        <button (click)="showAllCoffees($event)" class="active">All Products</button>
        <button (click)="showAvailableCoffees($event)">Available Now</button>
      </div>
    </section>
    <section class="container__content">
      @if(coffees) {
      @for (coffee of coffees; track $index) {
      <app-card [data]="coffee"></app-card>
        }
      }
    </section>
  </div>
</main>